<%= form_with(model: team) do |form| %>
  <% if team.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(team.errors.count, "error") %> prohibited this team from being saved:</h2>

      <ul>
        <% team.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.label "Nombre"%>
  <%= form.text_field :name%>

  <%= form.label "Escudo del equipo"%>
  <%= form.file_field :logo%>

  <%= form.label "Foto de jugadores"%>
  <%= form.file_field :players%>

  <div>
    <%= form.submit %>
  </div>
<% end %>
