<%= form_with(model: match) do |form| %>
  <% if match.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(match.errors.count, "error") %> prohibited this match from being saved:</h2>

      <ul>
        <% match.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%=  'Primer equipo: ' %>
    <%= select(:match, :first_team_id, Team.all.collect {|team| [ team.name, team.id ] }, { include_blank: false })  %>
  </div>

  <br>
  
  <div class="field">
    <%=  'Segundo equipo: ' %>
    <%= select(:match, :second_team_id, Team.all.collect {|team| [ team.name, team.id ] }, { include_blank: false })  %>
  </div>

  <br>

  <%=  'Fecha: ' %>
  <%= date_field(:match, :date) %>

  <br>
  <br>
  
  <div>
    <%= form.submit %>
  </div>
<% end %>
