<h1>Editar partido <%=@match.first_team.name%> vs <%=@match.second_team.name%></h1>

<%= render "form", match: @match %>

<br>

<div>
  <%= link_to "Show this match", @match %> |
  <%= link_to "Back to matches", matches_path %>
</div>
